<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCabServlet</servlet-name>
  	<display-name>AddCabServlet</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.AddCabServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEmployeeServlet</servlet-name>
  	<display-name>AddEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckCabRequestsServlet</servlet-name>
  	<display-name>CheckCabRequestsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.CheckCabRequestsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCabSuccess</servlet-name>
  	<display-name>AddCabSuccess</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.AddCabSuccess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<display-name>EmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookCab</servlet-name>
  	<display-name>BookCab</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.BookCab</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Accept</servlet-name>
  	<display-name>Accept</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.service.Accept</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reject</servlet-name>
  	<display-name>Reject</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.service.Reject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEmployeeSuccess</servlet-name>
  	<display-name>AddEmployeeSuccess</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.AddEmployeeSuccess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookCabSuccess</servlet-name>
  	<display-name>BookCabSuccess</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.BookCabSuccess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestedCabStatus</servlet-name>
  	<display-name>RequestedCabStatus</display-name>
  	<description></description>
  	<servlet-class>com.project1cbs.controller.RequestedCabStatus</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCabServlet</servlet-name>
  	<url-pattern>/AddCabServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployeeServlet</servlet-name>
  	<url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckCabRequestsServlet</servlet-name>
  	<url-pattern>/CheckCabRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCabSuccess</servlet-name>
  	<url-pattern>/AddCabSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookCab</servlet-name>
  	<url-pattern>/BookCab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Accept</servlet-name>
  	<url-pattern>/Accept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reject</servlet-name>
  	<url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployeeSuccess</servlet-name>
  	<url-pattern>/AddEmployeeSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookCabSuccess</servlet-name>
  	<url-pattern>/BookCabSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestedCabStatus</servlet-name>
  	<url-pattern>/RequestedCabStatus</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>
   <welcome-file>Login.html</welcome-file>
   <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  
</web-app>
